<nav class="navbar sticky-top navbar-expand-md bg-light bg-body" data-bs-theme="dark">
  <div class="container-fluid">
    <%= link_to "Contacts App", root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav te">
        <li class="nav-item">
          <%= link_to "Contacts", contacts_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>