<div class="jumbotron jumbotron-fluid">
  <h1 class="display-2 text-center">Hi,</h1>
  <p class="lead text-center">this is Contacts App created with Rails and Bootstrap.</p>
  <p class="text-center">Keep your friends close and enemies closer.</p>
</div>